    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img width="80px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO0ka8KyflLO2lqjKgklSy9DOkc1adt86q8w&s" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Heroes list</a>
                </li>

                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Types
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/types/1">Tank</a></li>
            <li><a class="dropdown-item" href="/types/2">Fighter</a></li>
            <li><a class="dropdown-item" href="/types/3">Healer</a></li>
            <li><a class="dropdown-item" href="/types/4">Ranged</a></li>
            <li><a class="dropdown-item" href="/types/5">Builder</a></li>
            <li><a class="dropdown-item" href="/types/6">Assasin</a></li>
          </ul>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create">Add hero</a>
          </li>
        </li>
            </ul>
            <form class="d-flex" action="/search" method="POST">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Search Hero">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
            </form>
            </div>
        </div>
    </nav>